.cats_tvsd,.cats_tvhd,.cats_tvdvdrip,.cats_tvpacksd,.cats_tvpackhd,.cats_moviesd,.cats_moviehd,.cats_moviepacksd,.cats_moviepackhd,.cats_moviexxx,.cats_mvid,.cats_gamespc,.cats_gamesxbox,.cats_gamesps3,.cats_gameswii,.cats_appspc,.cats_appsmac,.cats_appslinux,.cats_appsmobile,.cats_0dayxxx,.cats_ebook,.cats_audiobook,.cats_music,.cats_misc {
    display: block;
    width: 45px;
    height: 46px;
    background: no-repeat center center;
}

/* We're going to opt for the category icon method for now, tags_* is also available */
.cats_tvsd { background: url('pic/cats/sdtv.png'); }
.cats_tvhd { background: url('pic/cats/hdtv.png'); } 
.cats_tvdvdrip { background: url('pic/cats/tv_dvdrip.png'); } 
.cats_tvpacksd { background: url('pic/cats/tv_packs.png'); } 
.cats_tvpackhd { background: url('pic/cats/tv_packs.png'); }

.cats_moviesd { background: url('pic/cats/sdmovies.png'); }
.cats_moviehd { background: url('pic/cats/hdmovies.png'); }
.cats_moviepacksd { background: url('pic/cats/movies_packs.png'); }
.cats_moviepackhd { background: url('pic/cats/movies_packs.png'); }
.cats_moviexxx { background: url('pic/cats/xxx_hd.png'); }

.cats_mvid { background: url('pic/cats/music_videos.png'); }
.cats_gamespc { background: url('pic/cats/games_pc.png'); }
.cats_gamesxbox { background: url('pic/cats/games_xbox.png'); }
.cats_gamesps3 { background: url('pic/cats/games_ps3.png'); }
.cats_gameswii { background: url('pic/cats/games_wii.png'); }

.cats_appspc { background: url('pic/cats/appz.png'); }
.cats_appsmac { background: url('pic/cats/appz.png'); }
.cats_appslinux { background: url('pic/cats/appz.png'); }
.cats_appsmobile { background: url('pic/cats/appz.png'); }

.cats_0dayxxx { background: url('pic/cats/xxx_xvid.png'); }
.cats_ebook { background: url('pic/cats/misc.png'); }
.cats_audiobook { background: url('pic/cats/misc.png'); }
.cats_misc { background: url('pic/cats/misc.png'); }
.cats_music { background: url('pic/cats/music.png'); }



