.cats_tvsd,.cats_tvhd,.cats_tvdvdrip,.cats_tvpacksd,.cats_tvpackhd,.cats_moviesd,.cats_moviehd,.cats_moviepacksd,.cats_moviepackhd,.cats_moviexxx,.cats_mvid,.cats_gamespc,.cats_gamesxbox,.cats_gamesps3,.cats_gameswii,.cats_appspc,.cats_appsmac,.cats_appslinux,.cats_appsmobile,.cats_0dayxxx,.cats_ebook,.cats_audiobook,.cats_music,.cats_misc {
    display: block;
    width: 35px;
    height: 35px;
    background: no-repeat center center;
}

/* We're going to opt for the category icon method for now, tags_* is also available */
.cats_tvsd { background: url('images/categories/sdtv.svg'); }
.cats_tvhd { background: url('images/categories/hdtv.svg'); } 
.cats_tvdvdrip { background: url('images/categories/tvdvd.svg'); }
.cats_tvpacksd { background: url('images/categories/sdtvpack.svg'); } 
.cats_tvpackhd { background: url('images/categories/hdtvpack.svg'); }

.cats_moviesd { background: url('images/categories/sdmovies.svg'); }
.cats_moviehd { background: url('images/categories/hdmovies.svg'); }
.cats_moviepacksd { background: url('images/categories/sdmoviepack.svg'); }
.cats_moviepackhd { background: url('images/categories/hdmoviepack.svg'); }
.cats_moviexxx { background: url('images/categories/xxxmovies.svg'); }

.cats_mvid { background: url('images/categories/mvideo.svg'); }
.cats_gamespc { background: url('images/categories/pcgames.svg'); }
.cats_gamesxbox { background: url('images/categories/xbgames.svg'); }
.cats_gamesps3 { background: url('images/categories/psgames.svg'); }
.cats_gameswii { background: url('images/categories/wiigames.svg'); }

.cats_appspc { background: url('images/categories/windows.svg'); }
.cats_appsmac { background: url('images/categories/mac.svg'); }
.cats_appslinux { background: url('images/categories/linux.svg'); }
.cats_appsmobile { background: url('images/categories/mobile.svg'); }

.cats_0dayxxx { background: url('images/categories/0dayxxx.svg'); }
.cats_ebook { background: url('images/categories/books.svg'); }
.cats_audiobook { background: url('images/categories/audiobook.svg'); }
.cats_misc { background: url('images/categories/misc.svg'); }
.cats_music { background: url('images/categories/music.svg'); }
