.cats_tvsd,.cats_tvhd,.cats_tvdvdrip,.cats_tvpacksd,.cats_tvpackhd,.cats_moviesd,.cats_moviehd,.cats_moviepacksd,.cats_moviepackhd,.cats_moviexxx,.cats_mvid,.cats_gamespc,.cats_gamesxbox,.cats_gamesps3,.cats_gameswii,.cats_appspc,.cats_appsmac,.cats_appslinux,.cats_appsmobile,.cats_0dayxxx,.cats_ebook,.cats_audiobook,.cats_music,.cats_misc {
    /*display: block;*/
    width: 35px;
    height: 35px;
}

.cats_tvhd { background: url('categories/hdtv.svg') no-repeat center; border-right: 3px solid #42A5F5; }
img[alt="TvHD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/hdtv.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #42A5F5;
}

.cats_tvpackhd { background: url('categories/hdtv_pack.svg') no-repeat center; border-right: 3px solid #42A5F5;}

img[alt="TvPackHD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/hdtv_pack.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #42A5F5;
}


.cats_tvsd { background: url('categories/sdtv.svg') no-repeat center; border-right: 3px solid #2196F3; }

img[alt="TvSD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/sdtv.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #2196F3;
}

.cats_tvpacksd { background: url('categories/sdtvpack.svg') no-repeat center; border-right: 3px solid #2196F3;}
img[alt="TvPackSD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/sdtvpack.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #2196F3;
}

.cats_tvdvdrip { background: url('categories/tvdvd.svg') no-repeat center; border-right: 3px solid #64B5F6;}
 
img[alt="TvDVDRip"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/tvdvd.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #64B5F6;
}

 
.cats_moviehd { background: url('categories/hdmovies.svg') no-repeat center; border-right: 3px solid #ef5350;}
img[alt="MovieHD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/hdmovies.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #ef5350;
}
.cats_moviepackhd { background: url('categories/hd_movie_pack.svg') no-repeat center; border-right: 3px solid #ef5350;}
img[alt="MoviePackHD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/hd_movie_pack.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #ef5350;
}

.cats_moviesd { background: url('categories/sdmovies.svg') no-repeat center; border-right: 3px solid #f44336;}
img[alt="MovieSD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/sdmovies.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #f44336;
}

.cats_moviepacksd { background: url('categories/sd_movie_pack.svg') no-repeat center; border-right: 3px solid #f44336;}
img[alt="MoviePackSD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/sd_movie_pack.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #f44336;
}


.cats_moviexxx { background: url('categories/xxxmovies.svg') no-repeat center; border-right: 3px solid #EC407A;}
img[alt="MovieXXX"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/xxxmovies.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #EC407A;
}

.cats_0dayxxx { background: url('categories/0dayxxx.svg') no-repeat center; border-right: 3px solid #F06292;}
img[alt="0dayXXX"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/0dayxxx.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #F06292;
}


.cats_gamespc { background: url('categories/pcgames.svg') no-repeat center; border-right: 3px solid #009688;}
img[alt="GamesPC"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/pcgames.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #009688;
}

.cats_gamesxbox { background: url('categories/xbgames.svg') no-repeat center; border-right: 3px solid #26A69A;}
img[alt="GamesxBox"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/xbgames.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #26A69A;
}

.cats_gamesps3 { background: url('categories/psgames.svg') no-repeat center; border-right: 3px solid #4DB6AC;}
img[alt="GamesPS3"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/psgames.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #4DB6AC;
}

.cats_gameswii { background: url('categories/wiigames.svg') no-repeat center; border-right: 3px solid #80CBC4;}
img[alt="GamesWii"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/wiigames.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #80CBC4;
}


.cats_appspc { background: url('categories/windows.svg') no-repeat center; border-right: 3px solid #4CAF50;}
img[alt="AppsPC"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/windows.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #4CAF50;
}

.cats_appsmac { background: url('categories/mac.svg') no-repeat center; border-right: 3px solid #66BB6A;}
img[alt="AppsMAC"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/mac.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #66BBAA;
}
.cats_appslinux { background: url('categories/linux.svg') no-repeat center; border-right: 3px solid #81C784;}
img[alt="AppsLinux"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/linux.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #81C784;
}

.cats_appsmobile { background: url('categories/mobile.svg') no-repeat center; border-right: 3px solid #A5D6A7;}
img[alt="AppsMobile"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/mobile.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #A5D6A7;
}



.cats_ebook { background: url('categories/books.svg') no-repeat center; border-right: 3px solid #607D8B;}
img[alt="eBook"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/books.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #607D8B;
}

.cats_audiobook { background: url('categories/audiobooks.svg') no-repeat center; border-right: 3px solid #78909C;}
img[alt="AudioBook"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/audiobooks.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #78909C;
}



.cats_misc { background: url('categories/misc.svg') no-repeat center; border-right: 3px solid #FF5722;}
img[alt="Misc"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/music.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #FF5722;
}

.cats_music { background: url('categories/music.svg') no-repeat center; border-right: 3px solid #673AB7;}
img[alt="Music"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/music.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #673AB7;
}

.cats_mvid { background: url('categories/mvid.svg') no-repeat center; border-right: 3px solid #673AB7;}
img[alt="MviD"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/mvid.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #673AB7;
}


/*  category icons WIP */

/*#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(n+1) > label a,
#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(n+1) > label > a,
#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(n+1) > label > a,
#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(4) > td:nth-child(n+1) > label > a
{
   font-size: 0;
}


#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(n+1) > label a:after,
#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(n+1) > label a:after,
#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(n+1) > label a:after,
#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(4) > td:nth-child(n+1) > label a:after
{
    content: "";
    display: inline-block;
    height: 30px;
    width: 30px;
    top: 10px;
    position: relative;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(1) > label a:after {

    background: url('categories/sdtv.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(2) > label > a:after {
    background: url('categories/hdtv.svg') no-repeat center center;
}

table.layout.cat_list > tbody > tr:nth-child(1) > td:nth-child(2) > label {
    
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(3) > label > a:after {

    background: url('categories/tvdvd.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(4) > label > a:after {

    background: url('categories/sdtvpack.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(5) > label > a:after {

    background: url('categories/hdtv_pack.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(6) > label > a:after {

    background: url('categories/sdmovies.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(1) > td:nth-child(7) > label > a:after {

    background: url('categories/hdmovies.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(1) > label > a:after{

    background: url('categories/sd_movie_pack.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(2) > label > a:after{

    background: url('categories/hd_movie_pack.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(3) > label > a:after{

    background: url('categories/xxxmovies.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(4) > label > a:after{

    background: url('categories/mvid.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(5) > label > a:after{

    background: url('categories/pcgames.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(6) > label > a:after{

    background: url('categories/xbgames.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(2) > td:nth-child(7) > label > a:after{

    background: url('categories/psgames.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(1) > label > a:after{

    background: url('categories/wiigames.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(2) > label > a:after{

    background: url('categories/windows.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(3) > label > a:after{

    background: url('categories/mac.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(4) > label > a:after{

    background: url('categories/linux.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(5) > label > a:after{

    background: url('categories/mobile.svg') no-repeat center center;
}


#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(6) > label > a:after{

    background: url('categories/0dayxxx.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(3) > td:nth-child(7) > label > a:after{

    background: url('categories/books.svg') no-repeat center center;
}


#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(4) > td:nth-child(1) > label > a:after{

    background: url('categories/audiobooks.svg') no-repeat center center;
}

#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(4) > td:nth-child(2) > label > a:after{

    background: url('categories/music.svg') no-repeat center center;
}


#ft_container > table.layout.cat_list.ft_cat_list > tbody > tr:nth-child(4) > td:nth-child(3) > label > a:after{

    background: url('categories/misc.svg') no-repeat center center;
}*/