/*** custom checkboxes ***/

[type=checkbox], [type=radio] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
    top: 2px;
    left: 1px;
	margin-right: 5px;
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
	position: relative;
	padding-left: 50px;
	cursor: pointer;
	display: inline-block;
}

input[type="checkbox"]:not(:checked):before,
input[type="checkbox"]:checked:before,
input[type="checkbox"]:not(:checked):after,
input[type="checkbox"]:checked:after {
	content: '';
	position: absolute;
}

input[type="checkbox"]:not(:checked):before,
input[type="checkbox"]:checked:before {
	left: 0;
	top: -2px;
	width: 15px;
	height: 15px;
	background: #464a58;
	-webkit-transition: background-color .2s;
	-o-transition: background-color .2s;
	transition: background-color .2s;
}

input[type="checkbox"]:not(:checked):after,
input[type="checkbox"]:checked:after {
	width: 15px;
	height: 15px;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	background: #464a58;
	top: -2px;
	left: 0px;
}

/* on checked */

input[type="checkbox"]:checked:before {
	background: #464a58;
}

input[type="checkbox"]:checked:after {
	background: #ee6e73;
}

input[type="checkbox"]:focus:before {
	border: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}


input[type="radio"] {
	 position: relative; 
	 cursor: pointer; 
}

input[type="radio"]:before,
input[type="radio"]:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

input[type="radio"]:before {
	top: -1px;
	left: -1px;
	width: 14px;
	height: 14px;
	-webkit-box-shadow: inset 0 0 0 18px #464a58;
	        box-shadow: inset 0 0 0 18px #464a58;
}

input[type="radio"]:after {
	-ms-transform: translate(-50%, -50%) scale(0);
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
	top: 6px;
	left: 6px;
	width: 14px;
	height: 14px;
	background: #ee6e73;
}

input[type="radio"]:checked:before {
	-webkit-box-shadow: inset 0 0 0 1px #464a58;
	box-shadow: inset 0 0 0 1px #464a58;
}

input[type="radio"]:checked:after {
	-ms-transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	-webkit-animation: ripple 1s none;
	animation: ripple 1s none;
}