input[type="checkbox"],input[type="radio"] {
    width: 16px;
    position: relative;
    top: 3px;
    height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #464a58;
    left: 1px;
    margin-right: 5px;
}

input[type="checkbox"]:checked, 
input[type="radio"]:checked {
  background-color: #ee6e73;
}

input[type="radio"] {
  border-radius:50%;
}